* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  .topbar {
    background-color: #FFF3E0;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
  }
  
  .navbar {
    background-color: #7C0405;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    position: relative;
  }
  
  .logo {
    font-weight: bold;
    font-size: 2rem;
    /* Pushes nav-links to center */
    flex: 1;
  }

  .logo-img{
    width: 50px;
    height: 50px;
    
  }
  
  .nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
  }
  
  .navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;
  }
  
  .contact-btn {
    background-color: #F24E1E;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
    /* Pushes button to far right */
    margin-left: auto;
  }
  
  
  .contact-btn:hover {
    background-color: #F24E1E;
  }

  .page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
  }

  .back-arrow {
    position: absolute;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
  }

  select {
    width: 300px;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 2rem;
  }

  .tags {
    margin-bottom: 2rem;
  }

  .tag {
    display: inline-block;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 14px;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .tag.selected {
    background-color: #7C0405;
    color: white;
    border-color: #7C0405;
  }
  
  .tag:hover {
    background-color: #e0e0e0;
  }

  .footer-btn {
    width: 100%;
    padding: 1rem;
    background-color: #8B0000;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    border: none;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .footer-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  