* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  .topbar {
    background-color: #FFF3E0;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
  }
  
  .navbar {
    background-color: #7C0405;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    position: relative;
  }
  
  .logo {
    font-weight: bold;
    font-size: 2rem;
    /* Pushes nav-links to center */
    flex: 1;
  }

  .logo-img{
    width: 50px;
    height: 50px;
    
  }
  
  .nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
  }
  
  .navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;
  }
  
  .contact-btn {
    background-color: #F24E1E;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
    /* Pushes button to far right */
    margin-left: auto;
  }
  
  
  .contact-btn:hover {
    background-color: #F24E1E;
  }

  .page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
  }

  .back-arrow {
    position: absolute;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
  }

  .content {
    padding: 30px 40px;
  }

  .content h3 {
    margin-bottom: 20px;
  }

  .step {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 600;
  }

  .proceed-btn {
    background-color: #7C0405;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    width: 100%;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s;
  }

  .proceed-btn:hover {
    background-color: #7C0405;
  }

  .proceed-btn:active {
    transform: scale(0.98);
  }